span#task2-1 {
    color: darkred;
    font-family: serif;
    font-size: 20px;
}
span#task2-2 {
    color: fuchsia;
    font-family: serif;
    font-size: 20px;
}
span#task2-3 {
    color: darkred;
    font-family: serif;
    font-size: 20px;
}
span#task2-4 {
    color: darkred;
    font-family: serif;
    font-size: 20px;
}
span#task2-5 {
    color: darkred;
    font-family: serif;
    font-size: 20px;
}
span#task3 {
    color: crimson;
    font-family: sans-serif;
    font-size: 25px;
}
.ta {
    border: 1px solid crimson;
    color: darkred;
}